* {
  Margin: 0;
  Padding: 0;
  Box-sizing: border-box;

}

:root {
  --primary-color: black;
  --secondary-color: yellow;
  --footer-color: #f0f7f8
}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  background-image: url(/assets/images/header-background.jpg);
  background-position: cover;
  background-position: center;
}

header h1 {
  margin: 30px;
  padding: 30px;
  Font-size: 4em; 
  font-weight: 900;
  text-shadow: 5px 10px 15px rgb(105, 97, 97);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header nav ul {
  margin: 30px;
  padding: 40px;
}

header nav ul a {
  padding: 20px;
  font-size: 36px;
  text-shadow: 5px 10px 15px rgb(105, 97, 97);
}

header nav ul a:hover {
  color: red; 

}

.hero {
  display: flex; 
  align-items: flex-start; 
  justify-content: flex-end; 
  border: 2px solid red; 

}
.hero-img {
  
  border-right:2px solid rgb(105, 97, 97);
  margin: 20px;
  padding: 10px;  
  
}
.hero-text{
  margin: 20px 0 0 0; 
  padding: 10px; 
  text-align: left; 
  border: 2px solid red; 

}
.hero-h2 {
  margin: 20px; 
  font-size: 36px;  
  text-shadow: 5px 10px 15px rgb(105, 97, 97);
}

.portfolio-h3 {
  margin: 20px; 
  font-size: 36px; 
  text-shadow: 5px 10px 15px rgb(105, 97, 97);
}
footer {
  background-color: var(--footer-color);
}
.footer-h4 {
  margin: 10px; 
  padding: 10px; 
  font-size: 36px; 
}
.nav-list {
  display: flex; 
  justify-content: flex-end;
  
}

.nav-list li {
  margin: 10px; 
  padding: 10px 50px 10px 10px; 
}