* {
  Margin: 0;
  Padding: 0;
  Box-sizing: border-box;
  text-decoration: none;

}

:root {
  --primary-color: #5860ff;
  --secondary-color: #ffd258;
  --backup-color: #ff7f58;
}

header {
  margin-top: 0;
  background: var(--primary-color);
  background-size: 100%;
  border: 2px solid var(--primary-color);
}

#name {
  font-size: 44px;
  font-weight: bolder;
  padding: 30px;
  margin-right: 100px;
  font-family: 'Gill Sans MT', 'Trebuchet MS', sans-serif;

}



header nav ul {
  margin: 40px 30px 0px 10px;
  padding: 40px;
}

header nav ul a {
  padding: 20px;
  font-size: 36px;
  text-shadow: 5px 10px 15px rgb(42, 38, 38);
  color: var(--secondary-color);

}

header nav ul a:hover {
  color: rgb(169, 62, 62);
  text-shadow: 10px 20px 30px rgb(30, 29, 29);
  border-radius: 15px;

}

.hero {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;

}



.hero-img {

  margin: 20px;
  padding: 20px;


}

.hero-img:hover {
  transform: scale(1.1);
  transition: .2s;
}

.hero-text {
  margin: 20px 0 0 0;
  padding: 10px;
  text-align: left;
  font-size: 30px;


}

#about-me {
  margin-top: 2%;
  margin-left: 5%;
  font-size: 36px;
  text-shadow: 5px 10px 15px rgb(105, 97, 97);

}


.container {
  position: relative;
}

.text-block {
  position: absolute;
  top: 1%;
  left: 1%;
  background-color: black;
  color: white;
  padding: 15px;
  border-radius: 10px;
  font-size: 36px;

}

.portfolio-img-lg {
  display: flex;
  justify-content: space-between;
  margin: 5% 0% 0% 30%;
}

.portfolio-img-lg:hover {
  transform: scale(1.2);
  transition: .2s;
}


.portfolio-img {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 30%;
  margin-right: 5%;
  margin-top: 30px;

}

.portfolio-img img {
  padding: 20px;
}

#Work {
  display: inline;
  position: absolute;
  margin: 7%;
  margin-top: 25%;
  font-size: 36px;
  text-shadow: 5px 10px 15px rgb(50, 46, 46);

}

.portfolio-img div:hover {
  transform: scale(1.2);
  transition: .2s;

}

footer {
  background-color: var(--backup-color);
}

#Contact-Me {
  float: left;
  padding: 10px;
  font-size: 36px;

}

.nav-list {
  display: flex;
  justify-content: space-around;
  text-shadow: 5px 10px 15px rgb(38, 35, 35);

}

.nav-list li {
  margin: 10px;
  padding: 10px 10px 10px 10px;
  font-size: 24px;
}

@media screen and (max-width: 1160px) {
  #about-me {
    margin-left: 40%;

  }

  header nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    

  }

  header h1 {
    display: block;
    margin: 0px auto 0px auto;

  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 40px 40px 40px;

  }

  .hero-img {
    border-right: none;
  }

  .portfolio img {
    width: 200px;
  }

  .text-block {
    position: absolute;
    top: 1%;
    left: 1%;
    background-color: black;
    color: white;
    padding: 2px;
    border-radius: 1px;
    font-size: 22px;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .test {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    
  }

  .test a {
    font-size: 30px;
  }

  #name {
    margin: auto; 
  }

}